[Install]
WantedBy=multi-user.target

[Unit]
Description=Backup of vscale.io scalets
Documentation=https://github.com/sugdyzhekov/scalets-backup
ConditionPathExists=/etc/vscale.token
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull sugdyzhekov/scalets-backup
ExecStart=docker run --env-file /etc/vscale.token sugdyzhekov/scalets-backup --name scalets-backup

