[Install]

[Unit]
Description=Backup of vscale.io scalets
Documentation=https://github.com/sugdyzhekov/scalets-backup
ConditionPathExists=/etc/vscale.token
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull sugdyzhekov/scalets-backup
ExecStart=/usr/bin/docker run --env-file /etc/vscale.token --name scalets-backup sugdyzhekov/scalets-backup

